header{
	font-family: 150% Century;
}
#fondo{
	background-color: black;
}
.color2{
	background-color: white;
}
.margenliga{
	margin: 5px;
}

.video{
	margin-top: 15px;
}

nav{
	text-align: center;
}



